<h2>Featured Bike:</h2>

<div class="fname"><p style="font-family:arial;color:blue;font-weight:900;font-size:16px">Name:</p><%= @featured_product.name %></div>

<div class="fimage"><%= image_tag(@featured_product.image_url, width: 200) %></div>

<div class="fprice"><p style="font-family:arial;color:blue;font-weight:900;font-size:16px">Price:</p><%= @featured_product.price %></div>


