// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
  font-size:6em;
}

td {
  padding-right:30px;    
}

th {
  font-size:1em;
  color:blue;
}

.panel-body {
  color: black;
  min-height:67px;
  font-family:arial;
}

.add {
  font-size: 1.5em;
  margin-bottom:20px;
  }

.panel-body p {
  font-style:bold;
  font-size: 1em;
}

#links {
  font-size:1em;
  word-spacing: 30px;
}





  

