// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size:2em;
  text-align:center;
  font-family:Ariel;
  color:red;
}

h2,h3 {
  color:black;
}

.image-landing {
  margin-left:700px;
  margin-top:70px;
}

.carousel-caption {
  margin-bottom:190px;
}


