.name {
    text-decoration-line: underline;
    text-align: center;
    font-size: 275%;
    color: blue;
}

.image {
     text-align: center;
     margin-top:2%;
}

.describe {
    font-size:120%;
    font-weight: 100;
}