<div class="product-reviews">
    <% @comments.each do |comment| %>
        <%= render comment %>
    <% end %>
    <div class="apple_pagination">  
        <%= will_paginate @comments %>
    </div>
</div>