<p id="notice"><%= notice %></p>

<div class="main-heading"><h1>Black Friday Specials</h1></div>

<div class ="add"><%= link_to 'New Product', new_product_path if admin? %></div>
   
<div class="container-fluid">
  <div class="row">
    
    <% cache(cache_key_for_products) do %>
      <%= render @products %>
    <% end %>
    
  </div><!--end row-->
</div><!--end container-->
  
 






 
