<p id="notice"><%= notice %></p>
<%= @test_variable %>


<h1>Listing Products</h1>

<div class ="add"><%= link_to 'New Product', new_product_path %></div>
   
<div class="container-fluid ">
   <div class="row ">
   <%= render @products %>
   </div>   
</div>    

 
 
 






 
